PROJECT_NAME="CandidateLens"
API_V1_STR="/api"
SECRET_KEY="<your-secret-key>"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=11520
DATABASE_URL="postgresql+psycopg2://<user>:<password>@<host>:<port>/<db_name>"
CORS_ORIGINS='["http://localhost:5173"]'
